{% extends "tailbase.html" %}
{% block content %}
<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
	    <!--    <h1 class="text-base font-semibold text-gray-900">Users</h1> -->
  <h3 class="text-base font-semibold text-gray-900">All Recordings </h3>
      <p class="mt-2 text-sm text-gray-700">
      View and manage your call recordings, including details like date, duration, participants, quality, and download options for easy access.
      </p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300" id="table-body">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Recording ID</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Date</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Duration</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Download</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Transcript</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
<!--            <tr>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">Lindsay Walton</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Front-end Developer</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">lindsay.walton@example.com</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Member</td>
              <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit<span class="sr-only">, Lindsay Walton</span></a>
              </td>
</tr> -->

            <!-- More people... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const data = [
      {
          "id": "8c8e138e-f0c0-4688-98ba-2ace724a4955",
          "date": "2024-11-01 18:42",
          "duration": "1h 20m",
      },

      {
          "id": "731cdfa3-a5b1-42fe-ad66-c7d68f0494fc",
          "date": "2024-11-06 16:28",
          "duration": "1h 20m",
      },
      {
          "id": "3e1a0b71-f26f-48ab-bee3-e4529b15104e",
          "date": "2024-12-09 10:33",
          "duration": "1h 20m",
      },
  ];

    const tableBody = document.getElementById("table-body");

    data.forEach(entry => {
      const row = document.createElement("tr");

      row.innerHTML = `
        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">${entry.id}</td>
        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">${entry.date}</td>
        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">${entry.duration}</td>
        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
       <button type="button" class="rounded bg-indigo-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Download Recording</button>

       </td>
        <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
       <button type="button" class="rounded bg-indigo-600 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Download Transcript </button>

        </td>
      `;

      tableBody.appendChild(row);
    });
  });
</script>
{% endblock %}
